.usuario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.datos-usuario {
  img {
    width: auto;
  }

  a {
    text-decoration: none;

    .nombre-usuario{
      font-size: $fs-13;
      color: $verde-primario;
      font-weight: bold;
      margin-left: .5rem;
    }
  }

  p {
    font-size: $fs-11;
    color: $verde-oscuro;
    font-weight: 400;
    text-align: right;
  }
}

.dropdown-item-custom{
display: block;
width: 100%;
padding: .25rem 1rem;
clear: both;
font-weight: 400;
color: $gray-03;
font-size: $fs-11;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;

}

.dropdown-menu{
  a{
  &:hover{
    background-color: $verde-primario;
    color: white;
  }
  }
}
 
.backlogin {
   background-image:   url("../src/img/backlogin.svg");
}

.LoginRectangle {
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
