//Verdes
$verde-aqua: #009288;
$verde-oscuro: #0f4c42;
$verde-primario: #00b140;

//Grises
$gray-01: #383b41;
$gray-02: #898d8d;
$gray-03: #5d5d5d;


$gray-04: #f0f0f0;
$gray-05: #f8f8f8;
$gray-06: #c1c7d0;

//Dark
$dark-gray: #2e2e32;
$dark-black: #040000;
$black: #000000;

//White
$white: #ffffff;

//colores
$red: #e02020;
$orange: #fa6400;

//types
$font-family-base:    "Metropolis", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//font-size REM

$fs-11: .7rem;
$fs-12: .75rem;
$fs-13: .8125rem;
$fs-14: .9rem;
$fs-16: 1rem;
$fs-18: 1.12rem;
$fs-19: 1.2rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-80: 5rem;
